@import "../css/reseter.css";
:root {
    --dark-background: #181818;
    --primary-white: #FFFFFF;
    --primary-blue: #4452FE;
    --primary-black: #000000;
    --secondary-black: #5C5C5C;
    --secondary-background: #EFEFEF;
    --testimonials-border: #DEDEDE;
    --cta-background: #343434;
    --cta-background-mobile: #1E1E1E;   
}

@font-face {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 400;
    src: local("Graphik"),
         url("../fonts/Graphik-Regular.woff2") format("woff2"),
         url("../fonts/Graphik-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 500;
    src: local("Graphik"),
         url("../fonts/Graphik-Medium.woff2") format("woff2"),
         url("../fonts/Graphik-Medium.woff") format("woff");
    font-display: swap;
}

body {
    font-family: "Graphik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    background-color: var(--dark-background);
    color: var(--primary-white);
    height: 100%;
}

h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    text-align: center;
}

h2 {
    font-size: 52px;
    line-height: 62px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: var(--primary-white);
}

a:hover {
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1219px;
    margin: 0 auto;
}

.container > section {
    margin: 0 0 100px 0;
}

.headerNav {
    max-width: 1100px;
    margin: 0 auto 35px;
    padding: 0 40px;
    height: 119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 0 1 186px;
}

.logo img {
    cursor: pointer;
}

.headerNavigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.headerNavigation li {
    margin: 0 31px 0 0;
}

.headerWelcome {
    text-align: center;
    padding: 60px 0px;
    max-width: 1020px;
    margin: 0 auto;
}

.headerWelcome p {
    padding: 0 20%;
}

.headerWelcome h1 {
    margin: 0 0 17px 0;
}

.headerButtonsBlock {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.headerButtonsBlock .buttonBlue {
    margin: 0 35px 0 0;
}

.buttonBurger {
    display: none;
}

.buttonBurger.fixed {
    position: fixed;
}

/* Background in header */
.backgroundImage {
    display: block;
    position: relative;
    content: " ";
    background: url("../img/background-image.png") no-repeat center;
    width: 100%;
    padding-top: max(100px, min(54%, 800px));
    background-size: contain;
}

.backgroundImage::before {
    content: " ";
    top: 50%;
    left: 0;
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}

.button {
    display: inline-block;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    padding: 13.5px 40px;
    box-sizing: border-box;
    transition: color 0.5s, background-color 0.5s;
}

.button:hover {
    text-decoration: none;
}

.buttonWelcome {
    padding: 20px 40px;
}

.buttonLogin {
    padding: 13.5px 46px;
}
.buttonLogin.mobileView {
    margin: 0 66px 0 0;
}
.buttonContents {
    padding: 13.5px 46px;
}

.buttonCta {
    padding: 13.5px 67px;
}

.buttonBlue {
    background-color: var(--primary-blue);
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.buttonBlue:hover {
    background-color: var(--primary-white);
    color: var(--primary-blue);
    outline: 1px solid var(--primary-blue);
}

.buttonTransparent {
    border: 1px solid var(--primary-white);
    background-color: transparent;
}

.buttonTransparent:hover {
    background-color: var(--primary-white);
    color: var(--primary-black);
}
/* Features */
.features {
    padding: 162px 0 62px;
    max-width: 1020px;
}

.subheader {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}

.subheader h2 {
    margin: 0 0 27px 0;
}

.features .subheader {
    margin-bottom: 80px;
}

.featureItem {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.featureImgBlock {
    position: relative;
    box-sizing: border-box;
    flex-basis: 75%;
}

.featureImgBlock img:first-child {
    padding: 0 28px 100px;
}

.featureImgBlock img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 75%;
}

.featureDescriptionBlock {
    flex: 1 1 25%;
    list-style: none;
    margin: 84px 0 0 27px;
    padding: 0;
}

.featureDescriptionBlock li:not(:last-child) {
    margin: 0 0 45px 0;
}

.featureDescriptionBlock li > p {
    font-size: 16px;
    line-height: 24px;
}

.featureHeading {
    position: relative;
    margin: 0 40px 20px 20px;
    padding: 0 10px;
}

.featureHeading::before {
    display: block;
    content: " ";
    position: absolute;
    left: -40px;
    width: 50px;
    height: 30px;
}

.feature1::before {
    background-image: url("../img/svg/feature_bullet.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.feature2::before {
    background-image: url("../img/svg/feature_bullet2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.feature3::before {
    background-image: url("../img/svg/feature_bullet3.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Contents block*/
.contents {
    padding: 60px 0 50px;
    max-width: 985px
}

.contents .subheader {
    margin-bottom: 54px;
}

.contentsCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-white);
    border-radius: 14px;
    text-align: center;
    color: var(--secondary-black);
    padding: 40px 0;
    flex: 0 1 calc(50% - 33px);
}

.card h3 {
    color: var(--primary-black);
    margin: 0 90px 30px;
}

.card p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 90px 0;
}

.card img {
    border-radius: 14px;
}

.card .button {
    margin: 30px 0 30px;
}

/* Gallery */
.gallery {
    text-align: center;
    padding: 50px 0;
}

.gallery .subheader {
    margin-bottom: 54px;
}

.galleryImgListTest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 44px;
}

.galleryImageTest {
    max-height: 285px;
    max-width: 225px;
    border-radius: 14px;
    margin: 0 33px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
}

.galleryImageTest:last-of-type {
    margin: 0px;
}

.galleryImgListTest.evenRow .galleryImageTest:nth-child(2n-1) {
    max-width: 400px;
}

/* Partners */ 
.partners {
    text-align: center;
    padding: 60px 0 0; 
    max-width: 831px;
}

.partnersList {
    padding: 0;
    margin: 60px 0 50px;
    list-style: none;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 74px auto 74px auto 74px auto 74px auto 74px auto;
    grid-template-columns: auto auto auto auto auto auto;
    -moz-column-gap: 74px;
         column-gap: 74px;
    row-gap: 55px;
    justify-content: center;
    align-items: center;
}

.partnersList li {
    min-width: 60px;
}

.partnersButton {
    margin: 0 0 50px;
}

/* Testimonials */
.testimonials {
    padding: 60px 0 50px;
    max-width: 831px;
}

.testimonials .subheader {
    margin: 0 auto 60px;
}

.testimonyColumns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    /*Убрать на мобильной версии*/
    max-height: 1000px;
}

.testimonyCard {
    box-sizing: border-box;
    border: 1px solid var(--testimonials-border);
    border-radius: 10px;
    margin: 0 0 20px 0;
    padding: 40px;
    flex-basis: min-content;
    max-width: calc(50% - 24px);
}

.reviewerInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    margin: 0 0 30px 0;
}

.testimonyCard > p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px 0 0;
}

.reviewerInfoText h3,
.reviewerInfoText p {
    margin: 0;
}

.reviewerInfo img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 13px 0 0;
}

/* Call To Action */
.ctaWrapper {
    max-width: 1219px;
    padding: 80px 0 80px;
    margin: 0 auto;
}

.cta {
    display: flex;
    justify-content: space-between;
    padding: 36px  0 0 0;
    background-color: var(--cta-background);
    border-radius: 33px;
    overflow: hidden;
}

.ctaHeader, .ctaImg {
    flex-basis: calc(50% - 47px);
}

.ctaHeader {
    padding: 40px 0 0 94px;
}

.ctaHeader h2 {
    font-weight: normal;
    margin: 0 0 50px;
}

.ctaImg {
    max-height: 335px;
    min-width: 50%;
    -o-object-position: top;
       object-position: top;
    -o-object-fit: none;
       object-fit: none;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    padding: 107px 100px 107px 100px;
}

.footerNavItem {
    margin: 0 90px 0 0;
}

.footerNavItem:last-of-type {
    margin-left: 0px;
}

.footerNavItem h3 {
    margin: 0 0 40px 0;
}

.footerNavItem ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerNavItem ul li {
    margin: 0 0 19px 0;
    font-size: 16px;
    line-height: 24px;
}

.footerContacts {
    margin: 0 0 0 auto;
    font-size: 16px;
    line-height: 24px;
}

.contactsAddress,
.contactsPhone {
    position: relative;
    margin: 0 0 20px 50px;
}

.contactsAddress::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: -50px;
    width: 47px;
    height: 47px;
    background: url("../img/svg/contacts_geo.svg") no-repeat;
}

.contactsPhone::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: -45px;
    width: 47px;
    height: 47px;
    background: url("../img/svg/contacts_phone.svg") no-repeat;
}

.socials {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 0 0;
}

.socials a {
    display: inline-block;
    width: 41px;
    height: 41px;
    margin: 0 24px 0 0;
}

.socials a:hover {
    transform: scale(1.2);
}

.socials a:last-of-type {
    margin: 0;
}

.socialsTwitter {
    background: url("../img/svg/socials_twitter.svg") no-repeat center;
}

.socialsFacebook {
    background: url("../img/svg/socials_facebook.svg") no-repeat center;
}

.socialsLinkedIn {
    background: url("../img/svg/socials_linkedin.svg") no-repeat center;
}

@media (max-width: 1024px) {
    .backgroundImage {
        padding-top: 70%;
        background-size: 120%;
        background-position: top;
    }

    .container {
        max-width: 70vw;
    }

    .subheader h2 {
        font-weight: 400;
    }

    .headerNav {
        position: relative;
        justify-content: flex-end;
        padding: 0 20px;
    }

    .logo {
        margin: 0 auto 0 0;
    }

    .navigationList {
        z-index: 2;
        position: fixed;
        width: 50%;
        right: 0;
        bottom: 0;
        height: 100vh;
        overflow: auto;
        background-color: var(--primary-black);
        padding: 40px;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-name: slidein;
                animation-name: slidein
    }

    .navigationList.removed {
        display: none;
    }

    .headerNavigation {
        flex-direction: column;
    }

    .headerNavigation a {
        display: block;
    }

    @-webkit-keyframes slidein {
        from {
          margin-left: 150%;
          width: 0%;
        }
      
        to {
          margin-left: 0%;
          width: 50%;
        }
      }

    @keyframes slidein {
        from {
          margin-left: 150%;
          width: 0%;
        }
      
        to {
          margin-left: 0%;
          width: 50%;
        }
      }

    .headerWelcome h1 {
        font-weight: 400;
        font-size: 52px;
        line-height: 62px;
    }

    .headerButtonsBlock {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .headerButtonsBlock .button{
        margin: 0 0 21px 0;
    }

    .buttonBurger {
        display: block;
        border: none;
        min-width: 44px;
        width: 66px;
        height: 53px;
        margin: 0 0 0 16px;
        background: url("../img/svg/menu_burger.svg") no-repeat center;
        z-index: 2;
        flex-shrink: 0;
        
    }

    .buttonBurger:focus {
        outline: none;
    }
    
    .features .subheader {
        margin-bottom: 27px;
    }

    .featureItem {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }

    .featureImgBlock {
        flex-basis: 100%;
    }

    .featureImgBlock,
    .featureImgBlock img:first-child {
        padding: 0;
    }

    .featureImgBlock img:last-child {
        bottom: 0;
        left: 12%;
    }

    .featureDescriptionBlock {
        margin: 60px 0 0 0;
        padding: 0;
        width: 75%;
    }
    
    .featureDescriptionBlock li {
        margin: 0 auto;
    }

    .feature p {
        padding: 0 10px 0 0;
    }

    .card {
        flex-basis: 100%;
        padding: 40px;
        margin: 0 0 33px 0;
    }
    
    .card p {
        margin: 0;
    }

    .card h3 {
        margin: 0 0 30px;
    }

    .partnersList {
        -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        -ms-grid-rows: 60px 60px 60px;
        grid-template-rows: 60px 60px 60px;
    }

    .partnersList > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .partnersList > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .partnersList > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .partnersList > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .partnersList > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .partnersList > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .partnersList > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .partnersList > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .partnersList > *:nth-child(9) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .partnersList li img {
        max-width: 80px;
    }

    .testimonyColumns {
        max-height: initial;
    }

    .testimonyCard {
        max-width: 100%;
    }
    
    .ctaWrapper {
        padding: 0 0 0;
        max-width: 100%;
    }

    .cta {
        padding: 104px 50px 0;
        flex-direction: column;
        border-radius: 0px;
        align-content: center;
        align-items: center;
        background-color: var(--cta-background-mobile);
    }

    .ctaHeader {
        padding: 0;
        text-align: center;
        margin: 0 0 104px;
    }

    .ctaHeader h2 {
        margin: 0 0 37px;
    }

    .ctaImg {
        max-height: 60vw;
        width: 100vw;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }

    .footer {
        padding: 107px 0 107px 10vw;
        flex-direction: column;
        align-items: flex-start;
    }

    .footerNavItem {
        margin: 75px 0 0;
    }

    .footerNavItem:first-of-type {
        margin: 0 0 0;
    }

    .footerContacts {
        margin: 75px 0 107px;
    }

    .galleryImgListTest {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 20px;
    }

    .galleryImageTest {
        min-height: 285px;
        max-width: 100%;
        margin: 0 0 30px 0;
        border-radius: 14px;
        -o-object-fit: none;
           object-fit: none;
        -o-object-position: center;
           object-position: center;
    }

    .galleryImgListTest.evenRow {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px)  {
    .galleryImageTest {
        -o-object-fit: cover;
           object-fit: cover;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 52px;
        line-height: 62px;
    }

    h2 {
        font-size: 32px;
        line-height: 42px;
    }

    h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .button {
        padding: 9px 20px;
        font-size: 16px;
    }

    .container {
        max-width: initial;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .navigationList {
        width: 100%;
    }

    .buttonBurger {
        width: 50px;
        height: 40px;
    }

    @-webkit-keyframes slidein {
        from {
          margin-left: 150%;
          width: 0%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
    }

    @keyframes slidein {
        from {
          margin-left: 150%;
          width: 0%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
    }

    .featureDescriptionBlock {
        width: 85%;
    }

    .featureHeading {
        margin-right: 0px;
    } 
      
    .partnersList {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    }

    .testimonyCard {
        padding: 40px 20px;
    }

    .reviewerInfo h3 {
        font-size: 16px;
        line-height: 24px;
    }

    .reviewerInfo {
        flex-wrap: nowrap;
    }

    .reviewerInfo {
        font-size: 12px;
        line-height: 16px;
    }
    
    .cta {
        padding: 104px 20px 0;  
    }

    .ctaImg {
        max-height: 70vw;
    }

    .footer {
        padding: 107px 0 107px 20%;
    }
}